        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        .container {
            text-align: center;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			width:95%;
			height:50%;
			
			border: 2px solid black
        }
        #verification_heading {
            font-size: 44px;
            margin-top: 70px;
			
        }
        #verification_subtext {
            font-size: 21px;
            margin-bottom: 20px;
            color: #666;
        }
        .code-container {
			widows:100%;
			height:20%;
            display: flex;
            justify-content: space-between;
			padding-left:80px;
			padding-right: 80px;
			padding-top:70px;
			align-items:center;
			
        }
        .code {
            width: 110px;
            height: 140px;
            text-align: center;
            font-size: 100px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
